html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Light.otf');
}
@font-face {
    font-family: 'Rubik';
    src: url("fonts/Rubik-VariableFont_wght.ttf");
}



#mainheading {
    
    padding: 10px 5px 10px 5px;
    position:fixed;
    height:90px;
    width:99.5%;
    background-color: rgba(18,9,62,255); 
    border-bottom: 3px solid  #8440ae;
}
#heading {
    text-align: center;
    position: relative;
    width:100%;
    height:70px;
}
#logo {
    
   position:absolute;
   top:0;
   left: 0;
    height: 90px;
    width: 90px;
    

}
#h1time {
    width: 1000px;
    position: absolute;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    left: 0;
    right: 0; 
    text-align: center; */
    left: 50%;
    transform: translateX(-50%);
    
    opacity: 0;
    transition: opacity 2s;
    
    
    letter-spacing: .2rem;
    font-size: 25px;
}
h1 {
    margin: 1px;
}
h6 {
    margin: 1px;
}

body {
    font-family: 'Rubik';
    background-color: #8440ae;
    margin: 0;
    color: white;
    
}
@media screen and (max-width: 1600px) {
    #navy {
      display: none !important;
    }
    #navbartoggle {
       display: block !important;
    }
  }
#dropbtn {
    top: 0 ;
    right: 10px ;
    position: absolute;
    background-color:#8440ae;
    border: 1px solid #8440ae;
    border-radius: 1px;
}
#dropbtn div {
    width: 35px;
    height: 5px;
    background-color: rgba(18,9,62,255);
    margin: 6px 0;
    border-radius: 3px;
}
#navy {
    display: block;
    position:absolute;
    top:0;
    right: 0;
}
#navbartoggle {
    display: none;
    position:absolute;
    top:0;
    right: 10px;
}
#navbartoggle ul {
    
    margin-top: 55px;
    overflow: hidden;
    height: 0px;
    
}
#navy ul, #navbartoggle ul {
    list-style-type: none; 

  }
#navy ul li {
    display: inline;
    margin: 0px 5px 0px 5px;
}
#navbartoggle ul li {
    
    margin: 5px;
}
#navy ul li, #navbartoggle ul li {
    
    background-color: #8440ae;
    
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size:20px;
}
#navy ul li a, #navbartoggle ul li a {
    text-align: center;
    font-weight: bold;
    color: white;
    
    text-decoration: none;
}
#navy ul li:hover, #navbartoggle  ul li:hover {
    background-color: rgb(116, 156, 221);
    transition: 0.3s;
}

#spacer {
    height: 115px;
}



.canvas_for_three {
    overflow-x: hidden;
}
.stuffyRealLink {
    display:block;
    padding: 60px;
}
.stuffy {
    margin: 0;
    padding:10px;
}
.stuffytitle {
    margin: 0;
    font-size: 50px;
    font-weight:bolder;
}
.spbord {
    aspect-ratio: 960/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.card {
    font-size: 20px;
    padding: 5px 15px; 
    min-height: 300px;
    min-width: 80vw;
    border: 2px solid rgba(18,9,62,255);
    border-radius: 10px;
    background-color: rgba(18,9,62,255);
    text-align: center;
    
}
.card p a:link {
    color: white;
}
.card p a:hover {
    color: rgb(116, 156, 221);
    transition: 0.3s;
}
.layer1 {
    background-image: url("svgstuff/truefirstborder.svg")
}
.layer2 {
    background-image: url("svgstuff/lighttodark.svg");
}
.layer3 {
    background-image: url("svgstuff/darktolight.svg");
}
.sector {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
    
}
.spec {
    background: #570990;
}